body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
.game {
  display: flex;
  flex-direction: column; /* Stack flex items vertically */
  align-items: center;
  position: relative;
}
.game-info {
  font-weight: 600;
  margin-bottom: 20px;
  font-size:24px;
}

.game-controls {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.game-name {
  font-weight: 600;
  margin-bottom: 20px;
  font-size:24px;
}
select {
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  appearance: none;
  margin-left: 5px;
}

select option {
  font-size: 16px;
}
.game-next {
  font-size: 14px;
  margin: 0 0 0 20px;
}

.game-board {
}
.board-row {
  display: flex;
}

.square {
  font-size: 24px;
  width: 50px;
  height: 50px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #eee;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
}
.square:hover {
  background-color: #ddd;
}
.square.winner {
  background-color: #4caf50;
}
.game-steps {
  min-width: 150px;
  margin-top: 30px;
}
.game-steps ol {
  list-style-type: none;
  padding-left: 0;
}
.game-steps li {
  line-height: 1.5;
  position: relative;
  margin-bottom: 5px;
  left: 0px;
}
.move-button {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
  padding: 5px 10px;
  cursor: pointer;
}
.move-button:hover {
  background-color: #45a04;
}

/*action*/
.square.occupied {
  background-color: red;
  animation: shake 0.2s;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes victoryAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.victory {
  animation: victoryAnimation 1s ease;
}